@charset "UTF-8";
@font-face{
    font-family: 'fontlogo';
    src: url("../fonts/bubblegum-sans-regular.otf");
}

@font-face {
    font-family: 'fontlogo2';
    src: url("../fonts/Vecna-oppx.ttf");
}

body{
    background-image: url("../photos/rpg.jpg");
    background-repeat: no-repeat;
    text-align: center;
    
    
    
}

div#interface{
    width: 900px;
    background-color: rgba(255,255,255,0.8);
    margin: 500px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    padding: 10px;
}


p{
    text-align: justify;
    text-indent: 50px;
    
    
}

h2{
    font-family: 'fontlogo',sans-serif;
    text-align: center;
}

header#cabecalho img#icone{
    position: absolute;
    left: 750px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
   

}

header#cabecalho h1{
    font-family: 'fontlogo', sans-serif;
    font-size: 30pt;
    color: #000000
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 10px;
    text-align: center;
   
}

header#cabecalho h2{
    font-family: 'fontlogo',sans-serif;
    color: #000000;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
    text-align: center;

}


figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;


}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;

}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do Menu */

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    


}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 25px;
    transition: background-color 1s;
    
}

nav#menu li:hover{
    background-color: #606060;
    text-align: center;
}
@charset "UTF-8";

body{
    background-color:rgba(255,255,255,1)
    
}
p{
    text-align: justify;
    text-indent: 50px;

}

/* Formatação de imagens com legenda*/

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;


}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
    display: block;
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color:#000000;
    text-decoration:none; 
}

nav#menu a:hover {
    color: #ffffff;

}



h1{
    font-family: 'fontlogo2';
    font-style: italic;
}
